* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FFFAF0;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: 16px;
}

.form-campo {
  margin-bottom: 16px;
  align-items: center;
}

.form-campo label {
  font-weight: bold;
  display: block;
}

.form-campo input,
.form-campo textarea {
  width: 100%;
  display: block;
  padding: 8px;
}

form {
  max-width: 360px;
  margin: 0 auto;
}

.container form button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #119759;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  max-width: 120px;
}